* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Heebo', sans-serif; }

.header {
  width: 100%;
  margin: 2rem 0;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2; }
  .header__logo {
    display: block;
    margin-left: 12rem; }

main {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.nav {
  margin-right: 12rem; }
  .nav__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1rem;
    transition: all .2s; }
    .nav__item:first-child {
      border-top: 4px solid #d6570e; }
    .nav__item:hover {
      transform: scale(1.2); }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #000; }

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../img/strawberry.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .home__box {
    width: 35rem;
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 12rem; }
  .home__paragraph {
    padding: 2rem 0; }

.about {
  height: 80vh;
  background-color: #00bab9;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .about__img {
    width: 60rem; }
  .about__box {
    width: 30%; }
  .about__paragraph {
    color: #fff;
    font-size: 1.3rem;
    margin: 0 0 2rem 0; }

.services {
  height: 80vh;
  background-color: #70c0ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .services__box {
    position: relative; }
  .services__head {
    position: relative;
    z-index: 5; }
  .services__img {
    width: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; }

.gallery {
  height: 100vh;
  background-color: #fee92e;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .gallery__paragraph {
    width: 40%;
    line-height: 1.7rem; }
  .gallery__photos {
    width: 90%; }
  .gallery__row-one {
    display: flex;
    flex-direction: row; }
  .gallery___row-one-col-a {
    width: 70%; }
  .gallery___row-one-col-b {
    flex: 1; }
  .gallery__img1 {
    background-color: #fff; }

.heading-one {
  font-size: 4rem;
  font-weight: 700;
  padding: 0; }

.heading-two {
  font-size: 6rem;
  font-weight: 400; }
  .heading-two--white {
    color: #fff; }
  .heading-two--black {
    color: #000; }

.button {
  width: 14rem;
  height: 4rem;
  border: none;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.7);
  outline: none;
  transition: all .2s; }
  .button:focus {
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.9); }
  .button--orange {
    background-color: #d6570e; }
  .button--blue {
    background-color: #5685a3; }

.roller {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(50%, 0); }
  .roller__img {
    width: 2.5rem; }

.offer-item {
  display: flex;
  width: 30rem;
  height: 8rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5); }
  .offer-item:not(:last-child) {
    margin-bottom: 2rem; }
  .offer-item__link {
    flex: 1;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.5); }
  .offer-item__icon {
    flex: 0 0 8rem;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
