* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Heebo', sans-serif; }

.header {
  position: fixed;
  top: 0; }

.home {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/strawberry.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .home__box {
    width: 35rem;
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 12rem; }
  .home__paragraph {
    padding: 2rem 0; }

.heading-one {
  font-size: 4rem;
  font-weight: 700;
  padding: 0; }

.button {
  width: 14rem;
  height: 4rem;
  border: none;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.7);
  outline: none;
  transition: all .2s; }
  .button--orange {
    background-color: #d6570e; }
    .button--orange:focus {
      box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.9); }
