//COLORS
$color-white: #fff;
$color-black: #000;


$color-orange: rgb(214, 87, 14);
$color-blue: #00bab9;
$color-blue-2: #70c0ff;
$color-blue-3: #5685a3;

$color-grey: #999;

$color-yellow: #fee92e;

$color-green: #97ba2c;

$color-violet: #b07cf8;

$color-pink: #eb2387;



