* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    scroll-behavior: smooth;

    @media (max-width: 900px){
        font-size: 50%; //1rem = 7px
    }

    @media (max-width: 600px){
        font-size: 43.75%; //1rem = 7px
    }
}

body{
    font-family: 'Heebo', sans-serif;
}
