.heading-one{
    font-size: 7rem;
    font-weight: 700;
    padding: 0
}

.heading-two{
    font-size: 8rem;
    font-weight: 400;

    @media (max-width: 900px){
        font-size: 6rem;
    }

    &--white{
        color: $color-white;
    }

    &--black{
        color: $color-black;
    }

   
}

.heading-three{
    font-size: 4rem;
    font-weight: 400;
    padding: 0
}

.heading-four{
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-white;
    padding: 0
}

.button{
    width: 14rem;
    height: 4rem;
    border: none;
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    box-shadow: 0 1px 4px 1px rgba($color-black, .7 );
    outline: none;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        transform: scale(1.05);
    }

    &:focus{
        box-shadow: 0 1px 8px 3px rgba($color-black, .9);
    }

    &--orange{
        background-color: $color-orange;
    }

    &--blue{
        background-color: $color-blue-3;
    }

    &--green{
        background-color: $color-green;
    }

    &--pink{
        background-color: $color-pink;
    }
}

.roller{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(50%, 0);
    transition: all .2s;

    &:hover{
        transform: translate(50%, 0) scale(1.2) ;
    }   

    &__img{
        width: 2.5rem;

    }

    &__link{

    }
}

.offer-item{
    display: flex;

    width: 35rem;
    height: 8rem;   

    background-color: $color-white;
    box-shadow: 2px 2px 5px 2px rgba($color-black, .5);
    transition: all .2s;

    @media (max-width: 600px){
        width: 45rem;
    }

    &:not(:last-child){
        margin-bottom: 2rem;;
    }

    &:hover{
        transform: scale(1.05);
    }

    &__link{
        flex: 1;
        font-size: 1.4rem;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        color: $color-black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        border-right: 1px solid rgba($color-black, .5);

        @media (max-width: 600px){
            font-size: 1.8rem
        }
    }

    &__icon{
        flex: 0 0 8rem;
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}