//HEADER
.header{
    width: 100%;
    background-color: rgba($color-white, .5);
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    @media (max-width: 900px) {
        padding: 0 2rem;
        position: relative;
    }


    @media (max-width: 600px) {
        padding: 1rem 2rem;
        position: relative;
    }

    &__logo{
        display: block;
    }
}

main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav{
    &__list{

        @media (max-width: 600px){
            display: none;

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color-white, .8);
            padding-top: 10rem;

            z-index: 1;


            // display: flex;
            // flex-direction: column;
            // align-items: center;
        }
    }       

    &__item{
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 700;
        padding: 0 1rem;
        transition: all .2s;
        outline: none;

        @media (max-width: 600px){
            display: block;
            width: 20%;
            margin-bottom: 3rem;
            text-align: center;
        }

        &::after{
            content: "";
            width: 0%;
            // height: 100%;
            border-top: 4px solid $color-pink;
            position: absolute;
            top: -20%;
            left: 5%;
            transition: all .2s;

            @media (max-width: 600px){
                border-top: 2px solid $color-pink;
            }
        }

        &:first-child::before{
            content: "";
            width: 90%;
            // height: 100%;
            border-top: 4px solid $color-orange;
            position: absolute;
            top: -20%;
            left: 5%;
            transition: all .2s;

            @media (max-width: 600px){
                border-top: 2px solid $color-orange;
            }
        }

        &:hover{
            &::after{
                width: 90%;
            }
        }       

       
    }

    &__link{

        &:link, &:visited{
            text-decoration: none;
            color: $color-black;
        }   
    }

    &__input{
        display: none;

        &:checked + .nav__list{
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
        }
    }

    &__label{
        display: none;

        font-size: 3.5rem;
        cursor: pointer;

        @media (max-width: 600px){
            position: fixed;
            display: block;
            top: 2rem;
            right: 2rem;
            z-index: 2;
        }
    }
}    


//SECTION HOME
.home{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0 5rem;

    background-image: url("../img/strawberry.png");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 900px){
        padding: 0 2rem;
        background-size: auto;
    }
    

    @media (max-width: 600px){
        height: 80vh;
        padding: 0 2rem;
        background-size: auto;
    }

    &__box{
        // width: 45rem;
        font-size: 2rem;
        text-align: justify;
        // margin-left: 12rem;
    }

    &__paragraph{
        padding: 2rem 0;
        width: 50%;

        @media (max-width: 600px) {
            width: 60%;
        }
    }


}

//SECTION ABOUT
.about{
    // height: 80vh;
    background-color: $color-blue;

    display: flex;
    align-items: center;
    justify-content: space-evenly; 

    @media (max-width: 600px) {
        flex-direction: column;
    }


    &__img{
        width: 50rem;

        @media (max-width: 600px) {
            order: 2;
        }
    }

    &__box{
        width: 30%;
        @media (max-width: 600px) {
            order: 1;
            width: 100%;
            padding: 0 2rem;
        }
    }

    &__paragraph{
        color: $color-white;
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
        @media (max-width: 600px) {
            text-align: justify;
        }
    }
}

//SECTION SERVICES
.services{
    height: 80vh;
    background-color: $color-blue-2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 600px){
        height: auto;
        padding: 2rem 2rem 4rem 2rem;
        flex-direction: column;
    }
    
    &__offer{
        width: 35%;

        @media (max-width: 600px){
            order: 2;
            width: 80%;
        }
    }

    &__box{
        position: relative;

        @media (max-width: 600px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__head{
        position: relative;
        z-index: 5;
    }

    &__img{
        width: 35rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        
        @media (max-width: 600px){
            position: relative;
            top: auto;
            left: auto;
            transform: translate(0, 0);
            margin: 2rem 0;
        }
    }
}

//SECTION GALLERY
.gallery{
    // height: 100vh;
    background-color: $color-yellow;

    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px), (max-width: 900px) {
        padding: 2rem 2rem 4rem 2rem;
    }
    
    &__paragraph{
        width: 40%;
        line-height: 2.5rem;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 5rem;

        @media (max-width: 600px) , (max-width: 900px){
            width: 100%;
            text-align: justify;
        }
    }

    &__photos{
        width: 80%;
        margin: 0 0 5rem 0;

        @media (max-width: 900px){
            width: 100%;
        }

    }

    &__row1{
        height: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        padding-bottom: 2rem;
    }

    &__row2{
        height: 40rem;
        
        display: flex;
    }

    &__col1{
        padding-right: 2rem;

        flex: 0 0 68%;
    }

    &__col2{
        flex: 0 0 32%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__photo{
        background-size: cover;
        background-position: center;

        &--p1{
            width: 100%;
            height: 100%;
            background-image: url("../img/photo1.png");
            display: block;
        }

        &--p2{
            width: 100%;
            height: 50%;
            background-image: url("../img/photo2.png");
            margin-bottom: 1rem;
        }

        &--p3{
            width: 100%;
            height: 50%;
            background-image: url("../img/photo3.png");
            margin-top: 1rem;
        }

        &--p4{
            width: 50%;
            height: 100%;
            background-image: url("../img/photo4.png");
            margin-right: 1rem;
        }

        &--p5{
            width: 50%;
            height: 100%;
            background-image: url("../img/photo5.png");
            margin-left: 1rem;
        }

    }
}

//SUBSCRIPTION SECTION
.subs{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px), (max-width: 900px){
        padding: 2rem 2rem;
        flex-direction: column;
        align-items: center;
    }

    &__box{
        margin-left: 10rem;

        @media (max-width: 600px), (max-width: 900px){
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            z-index: 1;
        }
    }

    &__parapgraph{
        font-size: 1.5rem;
        margin: 1.2rem 0;
        width: 70%;

        @media (max-width: 600px), (max-width: 900px){
            width: 100%;
            text-align: justify;
        }
    }

    &__form{
        display: block;

        @media (max-width: 900px){
            width: 70%;
        }
        
        @media (max-width: 600px){
            width: 100%;
        }
    }

    &__input{
        width: 70%;
        height: 4rem;
        margin-right: 3rem;
        border: 1px solid $color-black;
        font-size: 1.5rem;
        padding: 0 1rem;
        outline: none;
        transition: all .2s;

        &:focus{
            transform: scale(1.05)
        }

        @media (max-width: 900px){
            width: 100%;
            margin: 0 0 2rem 0;
        }

        @media (max-width: 600px){
            width: 100%;
            margin: 0 0 2rem 0;
        }
    }

    &__photo{
        @media (max-width: 600px), (max-width: 900px){
            position: relative;
            z-index: 0;
        }
    }

}

//BLOG SECTION
.blog{
    background-color: $color-violet;

    // height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    @media (max-width: 600px), (max-width: 900px){
        padding: 2rem 2rem 4rem 2rem;
    }

    &__paragraph{
        font-size: 1.5rem;
        color: $color-white;
        width: 50%;
        font-weight: 300;
        text-align: center;
        margin-bottom: 4rem;

        @media (max-width: 600px), (max-width: 900px){
            width: 100%;
            text-align: justify;
        }
    }

    &__info-box{
        display: flex;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-around;

        @media (max-width: 600px), (max-width: 900px){
            width: 80%;
            flex-direction: column;
            align-items: center;
        }

    }

    &__item{
        width: 25%;
        height: 28rem;
        position: relative;
        // background-color: #555;
        background-position: center;
        background-size: cover;

        display: flex;
        align-items: flex-end;

        @media (max-width: 900px){
            width: 100%;
        }

        &:not(:last-child){
            margin-right: 2rem;

            @media (max-width: 600px), (max-width: 900px){
                margin-right: 0;
                margin-bottom: 2rem;                
            }
        }

        &--1{
            background-image: linear-gradient(to bottom, transparent, rgba($color-black, .8)), url("../img/blog1.png");
        }

        &--2{
            background-image: linear-gradient(to bottom, transparent, rgba($color-black, .8)), url("../img/blog2.png");
            background-position: bottom;
        }

        &--3{
            background-image: linear-gradient(to bottom, transparent, rgba($color-black, .8)), url("../img/blog3.png");
        }   
    }

    &__date{
        width: 5rem;
        height: 5rem;
        background-color: rgba($color-black, .6);

        position: absolute;
        top: 3rem;
        left: 3rem;

        font-weight: 500;
        font-size: 2rem;
        color: $color-white;
        border-radius: 4px;
        text-align: center;
        line-height: 2rem;

        display: flex;
        align-items: center;
    }

    &__description{
        padding: 1rem 2rem;
    }

    &__time{
        color: $color-white;
    }
}

// CONTACT SECTION
.contact{
    // height: 90vh;
    background-image: url(../img/trees.png);
    background-position: center;
    background-size: 100%;
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 900px){
        background-size: 200%;
        padding: 2rem 2rem 4rem 2rem;
    }

    @media (max-width: 600px){
        background-size: 350%;
        padding: 2rem 2rem 4rem 2rem;
    }

    &__paragraph{
        font-size: 1.5rem;
        color: $color-black;
        width: 50%;
        font-weight: 300;
        text-align: center;
        margin-bottom: 4rem;

        @media (max-width: 600px), (max-width: 900px){
            width: 100%;
            text-align: justify;
        }
    }

    &__contact-box{
        width: 80%;
        display: flex;
        justify-content: space-around;

        @media (max-width: 600px){
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    &__form{
        width: 50%;
        display: flex;
        flex-direction: column;

        @media (max-width: 600px){
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__item{
        position: relative;
        height: 4rem;
        background-color: rgba($color-sky, .5);
        border: none;
        color: $color-white;
        font-family: inherit;
        padding: 0 1rem;
        transition: all .2s;

        &::placeholder{
            color: $color-white;
        }

        &:focus{
            background-color: rgba($color-sky, 1);
            outline: none;
        }

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }

    &__message{
        height: 20rem;
        background-color: rgba($color-sky, .5);
        border: none;
        color: $color-white;
        font-family: inherit;
        padding: 1rem 1rem;
        resize: none;
        transition: all .2s;

        &::placeholder{
            color: $color-white;
        }

        &:focus{
            background-color: rgba($color-sky, 1);
            outline: none;
        }
    }

    &__details{
        width: 50%;
        padding: 0 2rem;

        display: flex;
        flex-direction: column;

        @media (max-width: 600px){
            width: 100%;
            padding: 0 0;
            flex-direction: row;
            justify-content: space-around;
        }
    }   

    &__box{
        display: flex;
        flex-direction: column;
        padding-left: 10rem;

        &:not(:last-child){
            margin-bottom: 2rem;
        }

        @media (max-width: 600px){
            padding: 2rem;
        }
    }

    &__head{
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__text{
        font-size: 1.5rem;
        padding: 0 0 1rem 0;
    }
}


//FOOTER
.footer{
    justify-content: space-around;
    padding: 2rem 0;
    background-color: $color-black-2;
    color: $color-grey;
    font-size: 1.5rem;

    display: flex;

    @media (max-width: 600px){
        padding: 1rem 2rem;
        
        justify-content: space-between;
        flex-wrap: wrap;        
    }

    &__rights{
        display: flex;
        align-items: center;

        @media (max-width: 600px){
            width: 60%;
        }
    }

    &__icon{
        @media (max-width: 600px){
        }
    }

    &__regards{
        @media (max-width: 600px){
            width: 50%;
        }
    }

    &__span{
        color: $color-pink; 
    }


}