//HEADER
.header{
    width: 100%;
    margin: 2rem 0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    &__logo{
        display: block;
        margin-left: 12rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav{
    margin-right: 12rem;
    
    &__list{

    }       

    &__item{
        display: inline-block;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        padding: 0 1rem;
        transition: all .2s;

        &:first-child{
            border-top: 4px solid $color-orange;
        }

        &:hover{
            transform: scale(1.2);
        }
    }

    &__link{

        &:link, &:visited{
            text-decoration: none;
            color: $color-black;
        }

        
    }
}    


//SECTION HOME
.home{
    width: 100vw;
    height: 100vh;
    position: relative;

    background-image: url("../img/strawberry.png");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__box{
        width: 35rem;
        font-size: 1.3rem;
        text-align: justify;
        margin-left: 12rem;
    }

    &__paragraph{
        padding: 2rem 0;
    }


}

//SECTION ABOUT
.about{
    height: 80vh;
    background-color: $color-blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 

    &__img{
        width: 60rem;
    }

    &__box{
        width: 30%;
    }

    &__paragraph{
        color: $color-white;
        font-size: 1.3rem;
        margin: 0 0 2rem 0;
    }
}

//SECTION SERVICES
.services{
    height: 80vh;
    background-color: $color-blue-2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__box{
    position: relative;

    }

    &__head{
        position: relative;
        z-index: 5;
    }

    &__img{
        width: 35rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

//SECTION GALLERY
.gallery{
    height: 100vh;
    background-color: $color-yellow;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__paragraph{
        width: 40%;
        line-height: 1.7rem
    }

    &__photos{
        width: 90%;
    }

    &__row-one{
        display: flex;
        flex-direction: row;
    }

    &___row-one-col-a{
        width: 70%;
    }

    &___row-one-col-b{
        flex: 1;
    }

    &__img1{
        background-color: #fff;
    }    
    &__img2{

    }

    &__img3{

    }


    &__rwo-two{

    }
}